:root{
    --basic-white: #ffffff;   
    --basic-black: #000000;
    --basic-beige: #EFE4CF;
    --basic-gray-extra-dark: #2C2829;
    --basic-gray-dark: #323232;
    --basic-gray: #5A5A5A;
    --basic-gray-light: #999999;
    --basic-gray-extra-light: #ABABAB;
    --basic-light: #F8F7F4;
    --basic-extra-light: #EDEDED;

    --basic-gray-green: #849D8F;
    --basic-gray-blue: #8996A6;   
    --basic-gray-red:#9D8B84;

    --basic-black-transparent-extra-light: rgba(0, 0, 0, 0.07);
    --basic-white-transparent-light: rgba(255, 255, 255, 0.2);
    --basic-black-transparent-light: rgba(0, 0, 0, 0.3);
    --basic-black-transparent: rgba(0, 0, 0, 0.4);  
    --basic-white-transparent: rgba(255, 255, 255, 0.4);
    --basic-gray-transparent: rgba(178, 178, 178, 0.52);
    --basic-blue: rgba(46, 136, 228, 0.52);

    --basic-dark-transparent: rgba(49, 50, 53, 0.5);
    --basic-light-transparent: rgba(248, 247, 244, 0.5);

    --basic-crimson: #5D001D;
    --basic-brown: #2A160B;

    --basic-orange: #F26843;
    --special-orange-dark: #E74A35;
    --special-crimson-dark: rgba(172, 16, 0, 0.64);
    --special-red: #AC1000;
    --special-red-dark: #942718;
    --special-crimson-light: rgba(160, 32, 11, 0.76);
    
    --special-gray-pink-light: #FBDED7;
    --special-gray-pink: #F6B5A5;
    --special-gray-pink-dark: #D07058;

    --special-orange-pastel: #FFBC9E;
    --special-orange-pastel-dark: #E84D37;

    --special-gray: #696969;
    --special-gray-light: #CACAC7;

    --special-blue: #92CDFF;
    --special-red-pastel:  #FE9E90;
}

/* global */
*, *::before, *::after{
    box-sizing: border-box;
}

body{
    min-width: 1200px;
    margin: 0;
    padding: 0 0;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    color: var(--basic-white);
}

a {
    /* text-decoration: none; */  
    text-decoration-skip-ink: none;
    text-decoration-skip: ink;
}

img{
    max-width: 100%;
    height: auto;
}

/* grid */
.page{
    box-sizing: border-box;
    height: 100%;
}

.page-body{
    min-height: 100%;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-content: start;
}

.page-body.scroll-hidden{
    overflow-y: hidden;
}

.wrapper{
    width: 1200px;
    margin: 0 auto;
    padding: 0 27px; 
}

/* hide elements */
.visually-hidden {
	position: absolute;
	clip: rect(1px, 1px, 1px, 1px);
	padding:0;
	border:0;
	height: 1px; 
	width: 1px; 
	overflow: hidden;
}

/* basic elements */
/* modal */
.overlay{
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: var(--basic-black-transparent-light);
    z-index: 200;
    overflow-y: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.overlay.open{
    display: flex;
}

.modal{ 
    position: relative;
    margin: auto;  
    background-color: var(--basic-light);
    color: var(--basic-gray-dark);
}

.modal-close{
    position: absolute;
    width: 23px;
    height: 23px;
    top: 15px;
    right: 16px;
    background-color: transparent;
    border: 0;
    cursor: pointer;
}

.modal-close::before, .modal-close::after{
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 23px;
    height: 2px; 
    background-color: var(--basic-gray-extra-dark); 
}

.modal-close::before{   
    transform: rotate(45deg);
}

.modal-close::after{
    transform: rotate(-45deg);
}

/* popup */
.popup{
    display: none;
    background-color: var(--basic-light);
    box-shadow: 0px 20px 20px var(--basic-black-transparent);
    border-radius: 4px;
    color: var(--basic-gray-dark);
    z-index: 100;
}

.popup.open{
    display: block;
}

/* button */
.button{
    vertical-align: middle;
    background: linear-gradient(180deg, var(--basic-orange) 0%, var(--special-orange-dark) 100%);
    box-shadow: 0px 2px 2px var(--special-crimson-dark);
    border-radius: 70px;
    color: var(--basic-white);
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    text-decoration: none;
    border: 0;  
    cursor: pointer;
}

.button.text-shadow{
    text-shadow: 0px 2px 5px var(--special-crimson-light);
}

.button:hover{
    background: linear-gradient(0deg, var(--basic-white-transparent-light), var(--basic-white-transparent-light)), linear-gradient(180deg, var(--basic-orange) 0%, var(--special-orange-dark) 100%);
    box-shadow: 0px 2px 2px var(--special-red);
}

.button:active{
    background: linear-gradient(0deg, var(--basic-black-transparent-extra-light), var(--basic-black-transparent-extra-light)), linear-gradient(180deg, var(--basic-orange) 0%, var(--special-orange-dark) 100%);
    box-shadow: inset 0px 2px 2px var(--special-red-dark);
}

/* link */
.link-light{
    color: var(--basic-white);
    text-decoration-color: var(--basic-white-transparent-light);
}

.link-light:hover, .link-light:active{
    color: var(--special-orange-pastel);
}

.link-dark{
    color: var(--basic-gray-dark);
}

.link-dark:hover, .link-dark:active{
    color: var(--special-orange-pastel-dark);
}

/* input */
.input-field{
    width: 100%;
    padding: 13px 15px;
    font-weight: 700;
    color: var(--basic-gray-dark);
    font-size: 16px;
    line-height: 20px;    
    box-shadow: 0 0 0 1px var(--basic-gray-transparent);
    border-radius: 4px;
    border: none;
    outline: none;
}

.input-field:hover{
    box-shadow: 0 0 0 2px var(--basic-gray-transparent);
}

.input-field:focus{
    box-shadow: 0 0 0 2px var(--basic-blue);
}

.input-field::placeholder{
    font-weight: 400;
    color: var(--basic-gray-light);
}

/* main nav */
.main-nav{
    padding-top: 9px;
    display: grid;
    grid-template-rows: min-content min-content;
}

.main-nav-top{
    display: grid;
    grid-template-columns: 154px auto auto;
    align-items: flex-start;
}

.main-nav-bottom{
    justify-self: end;
    margin-top: 3px;
}

.main-header-logo img{
    display: block;
}

.site-nav, .submenu-catalog, .cart-list{
    list-style: none;
    margin: 0;
    padding: 0;
}

.site-nav, .user-wrapper{
    margin-top: 14px;
}

.site-nav a, 
.search, .login-link, .cart, 
.cart-list > a, 
.site-info-phone{
    color: var(--basic-white);
}

.site-nav{
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
    margin-left: 12px;
    margin-right: 50px;
}

.site-nav-item > a{
    display: block;
    padding: 6px 13px 7px;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    border-radius: 26px; 
    text-decoration-color: var(--basic-white-transparent-light);
}

.site-nav-item > a:hover,
.site-nav-item > a:active,
.site-nav-item.current > a{
    text-decoration: none;
} 

.site-nav-item.current > a{
    background-color: var(--special-gray-pink-dark);
    color: var(--basic-white);
}

.site-nav-item > a:hover{
    background-color: var(--basic-white);
    color: var(--basic-gray-dark);
}

.site-nav-item > a:active{
    background-color: var(--basic-extra-light);
    box-shadow: inset 0px 2px 1px var(--special-gray);
}

.menu-catalog{
    position: relative;
}

.menu-catalog.open > a{
    background-color: var(--basic-white);
    color: var(--basic-gray-dark);
}

/* .menu-catalog.open > a{
    background-color: var(--basic-white);
    color: var(--basic-gray-dark);
}

.menu-catalog.open .submenu-catalog{
    display: block;
}

.submenu-catalog.open{
    display: block;
} */

.submenu-catalog{
    position: absolute;
    top: 36px;
    left: -6px;
    min-width: 143px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: var(--basic-white);
}

.submenu-catalog-item:not(:last-of-type) {
    margin-bottom: 5px;
}

.submenu-catalog-item.new + .submenu-catalog-item{
    margin-top: 7px;
}

.submenu-catalog-item.new{
    position: relative;
    padding-bottom: 5px;
}

.submenu-catalog-item.new::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: calc(100% - 16px);
    height: 1px;
    background-color: var(--basic-gray-dark);
    opacity: 0.2;
    transform: translateX(-50%);
}

.submenu-catalog-item a{
    display: block;
    padding: 5px 20px 5px 21px;
    color: var(--basic-gray-dark);
    font-size: 14px;
    line-height: 16px;
    text-decoration: none;
}

.submenu-catalog-item.new a{
    font-weight: 700;
    line-height: 18px;
}

.submenu-catalog-item a:hover{
    background-color: var(--special-gray-pink-light);
}
.submenu-catalog-item a:active{
    background-color: var(--special-gray-pink);
}
.submenu-catalog-item.current a{
    background-color: var(--special-gray-pink-dark);
    color: var(--basic-white);
}

.user-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    gap: 10px;
}

.search-wrapper, .login-wrapper, .cart-wrapper{
    position: relative;
}

.search, .login-link, .cart{
    display: flex;
    align-items: center;
    height: 32px;
    padding: 8px;
    background-color: var(--basic-white-transparent-light);
    font-weight: 500;
    font-size: 14px;
    line-height: 15px;
    text-decoration: none;
    border-radius: 20px;
}

.login-link, .cart{   
    padding-left: 16px;
    padding-right: 16px;
}

.login-link svg, .cart svg{
    margin-right: 8px; 
}

.user-wrapper-button:hover, .user-wrapper-button.open,
.cart.filled{
    background-color: var(--basic-white);
    color: var(--basic-gray-dark);
}

.user-wrapper-button:not(.cart):hover path, .user-wrapper-button:not(.cart).open path,
.cart:hover path:not(.cart-icon-content), .cart.open path:not(.cart-icon-content),
.cart.filled path:not(.cart-icon-content){
    fill: var(--basic-gray-dark);
}

.cart.filled path.cart-icon-content{
    fill: var(--special-orange-pastel-dark);
}

.site-info-wrapper{
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: right;
}

.site-info-wrapper p{
    margin: 0;
    margin-bottom: 8px;
    padding: 0;
}

.site-info-phone{
    font-size: 22px;
    line-height: 24px;
    text-decoration: none;
}

/* main nav popup */
.popup-search, .popup-login, .popup-cart{
    position: absolute;
    top: 36px;
    right: 0;
}

.popup-search .input-field, 
.popup-login .input-field{
    font-size: 14px;
    line-height: 16px;
}

.popup-search{
    min-width: 341px;
    padding: 20px 15px;   
}

.popup-login{
    min-width: 277px;
    padding: 20px 18px;   
}

.login-form > input{
    margin-bottom: 20px;
}

.login-form-bottom{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.login-button{
    padding: 10px 26px;
}

.popup-login a{
    display: block;
    color: var(--basic-gray-dark);
    font-size: 13px;
    line-height: 15px;
}

.popup-login a:not(:last-of-type){
    margin-bottom: 6px;
}




.popup-cart{
    flex-direction: column;
    align-items: flex-end;
    min-width: 539px;
    padding: 17px 14px;
    color: var(--basic-gray-dark);
}

.popup-cart.open{
    display: flex;
}

.cart-table{  
    width: 100%;
    padding-bottom: 4px;
    font-size: 13px;
    line-height: 16px;
    border-bottom: 1px solid var(--special-gray-light);
}

.cart-table td {
    vertical-align: top;
}

.cell-remove-button {
    text-align: center;
    width: 20px;
    padding-top: 8px;
}

.cell-cart-image {
    text-align: center;
    width: 38px;
}

.cell-cart-image img{
    display: block;
    width: 33px;
    height: 33px;
    border-radius: 50%;
    margin: 0 auto;
}

.cell-cart-item-name {
    max-width: 200px;
    padding-left: 8px;
    padding-top: 10px;
}

.cell-price-calculation {
    width: 120px;
    padding-top: 10px;
}

.cell-total-item-price {
    width: 69px;
    padding-top: 10px;
    padding-bottom: 25px;
}

/*
.popup-cart{
    /* display: flex; 
    flex-direction: column;
    align-items: flex-end;
    min-width: 539px;
    padding: 21px 14px;
    color: var(--basic-gray-dark);
}

.cart-list{ 
    padding-bottom: 18px;  
    font-size: 13px;
    line-height: 16px; 
    border-bottom: 1px solid var(--special-gray-light);
}

 
.cart-item{
    /* display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;    

    display: grid;
    grid-template-columns: auto auto auto auto auto;
    align-items: center;
    justify-content: space-around;
}

.cart-item:not(:last-of-type){
    margin-bottom: 20px;
}

.cart-item p{
    margin: 0;
} 

.cart-image{
    display: block;
    width: 33px;
    height: 33px;
    border-radius: 50%;
}

.cart-item-name{
    max-width: 220px;
}*/

.cart-remove{
    position: relative;
    width: 15px;
    height: 15px;
    background-color: transparent;
    border: 0;
    cursor: pointer;
}

.cart-remove::before, .cart-remove::after{
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 15px;
    height: 1px; 
    background-color: var(--basic-gray-extra-dark); 
}

.cart-remove::before{   
    transform: rotate(45deg);
}

.cart-remove::after{
    transform: rotate(-45deg);
}

/* .cart-item a{
    color: var(--basic-gray-dark);
    text-decoration: none;
} */

.price-per-kg{
    color: var(--basic-gray-extra-light);
}

.final-price{
    font-weight: 700;
    font-size: 15px;
    line-height: 16px;
}

.checkout-link{
    display: block;
    padding: 14px 15px;
    font-size: 18px;
    line-height: 16px;
}

/* index column */
.index-column{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 26px;
    margin-bottom: 40px;
}

/* slider */
.page-body{
    background-position: top center;
    background-repeat: no-repeat;
}

.page-body.slider-content-1{
    background-color: var(--basic-gray-green);  
}

.page-body.slider-content-1:not(.inner-page){
    background-image: url(../img/slider-content-1.png);   
}

.page-body.slider-content-2{
    background-color: var(--basic-gray-blue);  
}

.page-body.slider-content-2:not(.inner-page){
    background-image: url(../img/slider-content-2.png);   
}

.page-body.slider-content-3{
    background-color: var(--basic-gray-red); 
}

.page-body.slider-content-3:not(.inner-page){
    background-image: url(../img/slider-content-3.png);   
}

.slider{
    position: relative;
    margin-bottom: 41px;
    padding-top: 274px;
}

.slider-content-wrapper{
    text-align: center;
}

.slider-content{
    display: none;
}

.slider-content.current{
    display: block;
}

.slider-text{
    max-width: 700px;
    margin: 0 auto;
    margin-bottom: 26px;
    padding: 0;
    font-weight: 700;
    font-size: 60px;
    line-height: 60px;
}

.slider-button{
    display: inline-block;
    padding: 9px 23px;
    font-size: 32px;
    line-height: 44px;
    margin-left: -15px;
    letter-spacing: 0.05em;
}

.slider-controls{
    position: absolute;
    left: 0;
    bottom: 22px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 79px;
}

.slider-controls button{
    padding: 0;
    width: 21px;
    height: 21px;
    border: 2px solid var(--basic-white);
    border-radius: 50%;
    background-color: transparent;
    cursor: pointer;
}

.slider-controls button:hover{
    background-color: var(--basic-white-transparent);
}

.slider-controls button.current,
.slider-controls button:active{
    background-color: var(--basic-white);
}

/* promo */
.promo{  
    margin-bottom: 40px;
}

.promo-list{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 26px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.promo-item{
    display: flex;
    flex-direction: column;
    min-height: 229px;
    padding: 16px 17px;
    border-radius: 16px;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: cover;
}

.promo-item:nth-child(1){
    background-color: var(--basic-crimson);
    background-image: url(../img/promo-1.jpg);
}

.promo-item:nth-child(2){
    background-color: var(--basic-brown);
    background-image: url(../img/promo-2.jpg);
}

.promo-item h3{
    margin: 0;
    margin-bottom: 16px;
    font-weight: 700;
    font-size: 35px;
    line-height: 41px;
}

.promo-item p{
    margin: 0;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
}

.promo-button{
    align-self: flex-end;
    margin-top: 42px;
    margin-right: 5px;
    padding: 12px 22px;
}

/* hits */
.hits{
    margin-bottom: 40px;
}

.hits-item .catalog-image::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 61px;
    height: 61px;
    background-image: url(../img/hit.svg);
    background-position: 0 0;
    background-repeat: no-repeat;
}

/* features */
.features{
    min-height: 306px;
    margin-bottom: 40px;
    padding: 24px 20px;
    background-color: var(--basic-beige);
    background-image: url(../img/pattern-wafer.jpg);
    background-position: 0 0;
    background-repeat: repeat;
    color: var(--basic-gray-dark);
    border-radius: 16px; 
}

.features-title{
    margin: 0;
    margin-bottom: 7px;
    padding: 0;
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
}

.features-list{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 13px 26px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.features-item{
    position: relative;
    padding-top: 9px;
    padding-left: 55px;
    background-position: 0 0;
    background-repeat: no-repeat;
}

.features-item::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 49px;
    height: 49px;
}

.features-item.icecream::before{
    background-image: url(../img/feature-1.svg);
}

.features-item.cow::before{
    background-image: url(../img/feature-2.svg);
}

.features-item.eco::before{
    background-image: url(../img/feature-3.svg);
}

.features-item.temperature::before{
    background-image: url(../img/feature-4.svg);
}

/* news */
.news{
    min-height: 220px;
    padding: 18px 20px;
    background-color: var(--basic-white);
    background-image: url(../img/news-background.jpg);
    background-position: 0 0;
    background-repeat: no-repeat;
    color: var(--basic-gray-dark);
    border-radius: 16px;
}

.news-title{
    margin: 0;
    margin-bottom: 3px;
    padding: 0;
    font-weight: 500;
    font-size: 16px;
}

.news-link{
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
}

/* appointment */
.appointment{
    position: relative;
    margin: 5px 6px;
    padding: 25px 20px;
    color: var(--basic-gray);
    border-radius: 16px;
    background-color: var(--basic-light);
}

.appointment::before{
    content: "";
    position: absolute;
    top: -5px;
    left: -6px;
    width: calc(100% + 12px);
    height: calc(100% + 10px);
    background-color: var(--basic-light);
    background-image: url(../img/appointment-background.jpg);
    background-position: 0 0;
    background-repeat: no-repeat;
    background-image: repeating-linear-gradient(-45deg, var(--basic-light), var(--basic-light) 7px, var(--special-blue) 7px, var(--special-blue) 14px, var(--basic-light) 14px, var(--basic-light) 21px, var(--special-red-pastel) 21px,var(--special-red-pastel) 28px);
    border-radius: 16px;
    z-index: -1;
}

.appointment-info{
    margin: 0;
    padding: 0;
}

.appointment-form{
    display: flex;
    margin-top: 40px;
}

.appointment-input{
    padding: 11px 14px;
}

.appointment-form .button{
    margin-left: 10px;
    padding: 10px 19px;
}

/* contacts */
.contacts{
    color: var(--basic-gray-dark);
}

.contacts-map{
    position: relative;
}

.contacts-map img,
.contacts-map iframe{
    display: block;
}

.contacts-info{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 27px;
    width: 303px;
    padding: 30px 25px;
    background-color: var(--basic-white);
    border-radius: 16px;
}

.contacts-info p{
    margin: 0;
    margin-bottom: 22px;
    padding: 0;
    font-size: 14px;
    line-height: 20px;
}

.contacts-address span, .contacts-phone{
    color: var(--basic-gray-dark);
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    text-decoration: none;
}

.contacts-button{
    display: block;
    margin-top: 28px;
    padding: 10px 28px;
}

/* page catalog */
.page-catalog{
    /* display: grid; */
    margin-top: -25px;
}

.page-catalog .wrapper{
    display: grid;
}

.page-title{
    margin: 0;
    margin-bottom: 27px;
    padding: 0;
    font-weight: 700;
    font-size: 35px;
    line-height: 41px;
}

/* breadcrumbs */
.breadcrumbs{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    order: -1;
    margin: 0;
    margin-bottom: 2px;
    padding: 0;
    list-style: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}

.breadcrumbs li:not(:last-child){
    position: relative;
    margin-right: 23px;
}

.breadcrumbs li:not(:last-child):after{
    content: "";
    position: absolute;
    top: 50%;
    right: -15px;
    width: 6px;
    height: 6px;
    transform: translateY(-50%);
    background-image: url(../img/breadcrumbs-arrows.svg);
    background-position: 0 0;
    background-repeat: no-repeat;
}

/* catalog filter */
.filters{
    margin-bottom: 40px;
}

.catalog-filter-form{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 13px 15px;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
}

.catalog-filter-form fieldset{
    margin: 0;
    padding: 0;
    border: 0;
}

.catalog-filter-form legend{
    padding-left: 16px;
    padding-bottom: 6px;
    font-size: 14px;
    line-height: 16px;
}

.filter-fillers-fieldset legend{
    padding-bottom: 9px;
}

.filter-select{
    padding: 7px 17px 8px 12px;
    color: var(--basic-white);
    background-color: var(--basic-white-transparent-light);
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.filter-select:hover{
    color: var(--basic-gray-dark);
}

.filter-range{   
    width: 218px;
    padding: 17px 21px;
    background-color: var(--basic-white-transparent-light);
    border-radius: 20px;
}

.filter-range .scale{
    position: relative;
    height: 2px;
    background-color: var(--basic-light-transparent);
}

.filter-range .bar{
    width: 105px;
    margin-left: 25px;
    height: 2px;
    background-color: var(--basic-light);
}

.filter-range .toggle{
    position: absolute;
    top: calc(50% - 10px);
    width: 20px;
    height: 20px;
    background-color: var(--basic-gray-extra-light);
    border: 8px solid var(--basic-white);
    border-radius: 50%;
    cursor: pointer;
}

.filter-range .toggle-min{
    left: 13px;
}

.filter-range .toggle-max{
    left: 111px;
}

.filter-range .toggle:hover{
    transform: scale(1.1);
}

.filter-select option{
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: var(--basic-gray-dark);
}

.catalog-filter-form ul{
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 9px 15px;
    column-gap: 20px;
    list-style: none;
    background-color: var(--basic-white-transparent-light);
    border-radius: 20px;
}

.filter-fillers-fieldset ul{
    column-gap: 24px;
}

.filter-option label{
    position: relative;
    display: block;
    padding-left: 32px;
    user-select: none;
    cursor: pointer;
}

.filter-input-radio + label::before{
    content: "";
    position: absolute;
    top: -2px;
    left: -1px;
    width: 22px;
    height: 22px;
    border: 3px solid var(--basic-white);
    border-radius: 50%;
    opacity: 0.8;
}

.filter-input-radio:checked + label::after{
    content: "";
    position: absolute;
    top: 5px;
    left: 6px;
    width: 8px;
    height: 8px;
    background-color: var(--basic-white);
    border-radius: 50%;
    opacity: 0.8;
}

.filter-input-radio + label:hover::before,
.filter-input-radio + label:hover::after{
    opacity: 1;
}

.filter-input-checkbox + label::before{
    content: "";
    position: absolute;
    top: -3px;
    left: 0;
    width: 24px;
    height: 22px;
    background-image: url(../img/checkbox-off.svg);
    background-position: 0 center;
    background-repeat: no-repeat;
    opacity: 0.8;
}

.filter-input-checkbox:checked + label::before{
    background-image: url(../img/checkbox-on.svg);
}

.filter-input-checkbox + label:hover::before{
    opacity: 1;
}

.filter-button{
    align-self: flex-end;
    padding: 9px 30px;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    color: var(--basic-white);
    background-color: var(--basic-white-transparent-light);
    border: 0;
    box-shadow: inset 0 0 0px 2px var(--basic-white);
    border-radius: 20px;
    cursor: pointer;
}

.filter-button:hover{
    color: var(--basic-gray-dark);
    background-color: var(--basic-white);
}

.filter-button:active{
    box-shadow: inset 0px 2px 1px var(--special-gray);
}

/* catalog list */
.catalog{
    margin-bottom: 76px;
}

.catalog-list{
    display: grid;
    grid-template-columns: repeat(4, auto);
    justify-content: space-between;
    row-gap: 36px;
    margin: 0;
    padding: 0; 
    list-style: none;
}

.catalog-item{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

.catalog-item:hover{
    z-index: 10;
}

.catalog-item:hover::before{
    content: "";
    position: absolute;
    top: -6px;
    left: -13px;
    width: calc(100% + 26px);
    height: calc(100% + 79px);
    background-color:var(--basic-white);
    box-shadow: 0px 20px 20px var(--basic-black);
    border-radius: 4px;
    opacity: 0.2;
    z-index: -1;   
}

.catalog-item:hover .button{
    display: block;
}

.catalog-item a{
    display: flex;
    flex-direction: column;
    max-width: 267px;
    color: var(--basic-white); 
    text-decoration: none;  
}

.catalog-item h3{
    order: 1;
    margin: 0;
    margin-top: 13px;
    padding: 0;
    font-weight: 500;
    font-size: 16px;
    text-decoration: underline;
    text-decoration-color: var(--basic-white-transparent-light);
}

.catalog-image{
    position: relative;   
}

.catalog-image img{
    display: block;
    border-radius: 50%; 
}

.catalog-item-price{
    position: absolute;
    margin: 0;
    padding: 0;
    left: 0px;
    bottom: 13px;
    font-weight: 700;
    font-size: 45px;
    line-height: 45px;
    text-shadow: 0px 1px 3px var(--basic-dark-transparent);
}

.catalog-item-price span{
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
}

.catalog-item .button{
    display: none;
    position: absolute;
    bottom: -52px;
    margin-top: 8px;
    padding: 10px 16px;
}

/* catalog pagination */
.catalog-pagination{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
}

.catalog-pagination-button{
    width: 7px;
    height: 12px;
    padding: 0;
    background-image: url(../img/catalog-pagination-arrow.svg);
    background-position: 0 center;
    background-repeat: no-repeat;
    border: 0;
    background-color: transparent;
    cursor: pointer;
}

.catalog-pagination-button.prev{
    transform: scale(-1, 1);
}

.catalog-pagination-button:disabled{
    opacity: 0.2;
    pointer-events: none;
}

.catalog-pagination-list{
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    margin: 0 18px;
    padding: 0;
    list-style: none;
}

.catalog-pagination-item a{
    display: block;
    padding: 4px 9px 4px 8px;
    color: var(--basic-white);
    font-weight: 500;
    line-height: 18px;
    border-radius: 50%;
    text-decoration: none;
}

.catalog-pagination-item a:hover{
    background-color: var(--basic-white-transparent-light);
}

.catalog-pagination-item a:active,
.catalog-pagination-item.current a{
    background-color: var(--basic-white);
    color: var(--basic-gray-dark);
}

.catalog-pagination-item.current a{
    cursor: default;
}

/* main footer */
.main-footer-inner{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: flex-start;
    gap: 50px;
    padding-top: 18px;
    padding-bottom: 25px;
}

.inner-page .main-footer{
    margin-top: 29px;
}

.inner-page .main-footer-inner{
    border-top: 1px solid var(--basic-white-transparent-light);
}

/* .main-footer .wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: flex-start;
    gap: 50px;
    padding-top: 18px;
    padding-bottom: 25px;
} */

.footer-socials {
    padding-top: 16px;
}

.footer-socials .footer-social-list{
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.social-button{  
    color: var(--basic-white);
}

.social-button, .social-button svg{
    display: block;
}

.social-button:hover .social-button-icon{
    fill-opacity: 1;
    opacity: 1;
}

.social-button:active .social-button-outline{
    stroke-opacity: 0.7;
}

.footer-additional{
    justify-self: center;
    display: grid;
    grid-template-columns: auto auto; 
    align-items: center;
    gap: 5px 32px;
    padding-top: 15px;
    margin-left: 3px;
}

.footer-additional a{
    display: block;
    font-size: 13px;
    line-height: 18px;
}

.footer-additional .favorites{
    position: relative;
    font-weight: 700;
}

.footer-additional .favorites::before{
    content: "";
    position: absolute;
    top: 50%; 
    transform: translateY(-50%);
    left: -22px;
    width: 15px;
    height: 13px;
    background-image: url(../img/heart.svg);
    background-position: 0 0;
    background-repeat: no-repeat;
}

.footer-copyright{
    justify-self: end;
    font-size: 12px;
    line-height: 18px;
}

.footer-copyright p{
    margin: 0;
}

/* modal feedback */
.modal-feedback{
    /* top: 50%;
    transform: translateY(-50%); */
    width: 477px;
    padding: 20px 25px 27px;
    border-radius: 6px;
}

.modal-feedback .modal-title{
    margin: 0;
    margin-bottom: 26px;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
}

.modal-feedback-form{
    display: flex;
    flex-direction: column;
}

.modal-feedback-form input:not(:last-child){
    margin-bottom: 20px;
}

.modal-feedback textarea{
    min-height: 154px;
    resize: none;
}

.modal-feedback-form .submit-button{
    align-self: flex-end;
    margin-top: 25px;
    padding: 10px 24px;
}

