:root{
    --basic-white: #ffffff;
    --basic-black: #000000;
    --basic-beige: #EFE4CF;
    --basic-gray-dark: #323232;
    --basic-gray: #5A5A5A;
    --basic-gray-light: #999999;
    --basic-gray-extra-light: #ABABAB;
    --basic-light: #F8F7F4;
    --basic-extra-light: #EDEDED;

    --basic-gray-red:#9D8B84;
    --basic-gray-blue: #8996A6;
    --basic-gray-green: #849D8F;

    --basic-black-transparent-light: rgba(0, 0, 0, 0.07);
    --basic-white-transparent-light: rgba(255, 255, 255, 0.2);
    --basic-black-transparent: rgba(0, 0, 0, 0.4);  
    --basic-white-transparent: rgba(255, 255, 255, 0.4);

    --basic-crimson: #5D001D;
    --basic-brown: #2A160B;

    --basic-orange: #F26843;
    --special-orange-dark: #E74A35;
    
    --special-gray-pink-light: #FBDED7;
    --special-gray-pink: #F6B5A5;
    --special-gray-pink-dark: #D07058;

    --special-orange-pastel: #FFBC9E;
    --special-orange-pastel-dark: #E84D37;
}

/* global */
body{
    min-width: 1200px;
    margin: 0;
    padding: 0 0;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    color: var(--basic-white);
    background-color: var(--basic-gray-red);
}

a {
    text-decoration: none;
  }

img{
    max-width: 100%;
    height: auto;
}

/* grid */
.page{
    box-sizing: border-box;
    height: 100%;
}

.page *{
    box-sizing: border-box;
}

.page-body{
    min-height: 100%;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-content: start;
}

.main-nav{
    width: 1200px;
    margin: 0 auto;
    padding: 0 27px; 
    display: grid;
    grid-template-rows: min-content min-content;
}

.main-nav-top{
    display: grid;
    grid-template-columns: 154px 1fr min-content;
}

.main-nav-bottom{
    justify-self: end;
}

.wrapper{
    width: 1200px;
    margin: 0 auto;
    padding: 0 27px; 
}

/* hide elements */
.visually-hidden {
	position: absolute;
	clip: rect(1px, 1px, 1px, 1px);
	padding:0;
	border:0;
	height: 1px; 
	width: 1px; 
	overflow: hidden;
}

/* basic elements */
/* modal */
.modal{
    display: none;
    background-color: var(--basic-light);
    color: var(--basic-gray-dark);
}

/* popup */
.popup{
    display: none;
    background-color: var(--basic-white);
    color: var(--basic-gray-dark);
}

/* button */
.button{
    vertical-align: middle;
    background: linear-gradient(180deg, var(--basic-orange) 0%, var(--special-orange-dark) 100%);
    color: var(--basic-white);
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    text-decoration: none;
    border: none;  
}

.button:hover{
    background: linear-gradient(0deg, var(--basic-white-transparent-light), var(--basic-white-transparent-light), rgba(255, 255, 255, 0.2)), linear-gradient(180deg, var(--basic-orange) 0%, var(--special-orange-dark) 100%);
}

.button:active{
    background: linear-gradient(0deg, var(--basic-black-transparent-light), var(--basic-black-transparent-light), rgba(255, 255, 255, 0.2)), linear-gradient(180deg, var(--basic-orange) 0%, var(--special-orange-dark) 100%);
}

/* link */
.link-light{
    color: var(--basic-white);
}

.link-light:hover, .link-light:active{
    color: var(--special-orange-pastel);
}

.link-dark{
    color: var(--basic-gray-dark);
}

.link-dark:hover, .link-dark:active{
    color: var(--special-orange-pastel-dark);
}

/* main nav */
.site-nav, .submenu-catalog, .cart-list{
    list-style: none;
    margin: 0;
    padding: 0;
}

.site-nav a, .user-wrapper > a, .cart-list > a, .site-info-phone{
    color: var(--basic-white);
}

.site-nav-item > a:hover, .user-wrapper > a:hover,
.site-nav-item > a:focus, .user-wrapper > a:focus{
    background-color: var(--basic-white);
    color: var(--basic-gray-dark);
    text-decoration: none;
}

.site-nav-item > a{
    font-weight: 700;
    font-size: 16px;
    line-height: 18px; 
}

.site-nav-item > a:active{
    background-color: var(--basic-extra-light);
    text-decoration: none;
}

.site-nav-item > a.current{
    background-color: var(--special-gray-pink-dark);
    color: var(--basic-white);
}

.submenu-catalog-item a{
    color: var(--basic-gray-dark);
    font-size: 14px;
    line-height: 16px;
    text-decoration: none;
}

.submenu-catalog-item:first-of-type a{
    font-weight: 700;
    line-height: 18px;
}

.submenu-catalog-item a:hover{
    background-color: var(--special-gray-pink-light);
}
.submenu-catalog-item a:active{
    background-color: var(--special-gray-pink);
}
.submenu-catalog-item a.current{
    background-color: var(--special-gray-pink-dark);
    color: var(--basic-white);
}

.user-wrapper > a{
    background-color: var(--basic-white-transparent-light);
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-decoration: none;
}

.popup-login a{
    color: var(--basic-gray-dark);
    font-size: 13px;
    line-height: 15px;
}

.popup-cart{
    color: var(--basic-gray-dark);
}

.cart-list{   
    font-size: 13px;
    line-height: 16px; 
}

.cart-image img{
    width: 33px;
    height: 33px;
}

.cart-item a{
    color: var(--basic-gray-dark);
    text-decoration: none;
}

.price-per-kg{
    color: var(--basic-gray-extra-light);
}

.final-price{
    font-weight: 700;
    font-size: 15px;
    line-height: 16px;
}

.checkout-link{
    font-size: 18px;
    line-height: 16px;
}

.site-info-wrapper{
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: right;
}

.site-info-phone{
    font-size: 22px;
    line-height: 24px;
    text-decoration: none;
}

/* index column */
.index-column{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 26px;
    margin-bottom: 40px;
}

/* slider */
.slider-content-wrapper{
    position: relative;
    text-align: center;
}

.slider-content{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
}

.slider-content.current{
    position: relative;
    opacity: 1;
}

.slider-text{
    font-weight: 700;
    font-size: 60px;
    line-height: 60px;
}

.slider-button{
    font-size: 32px;
    line-height: 44px;
}

.slider-pagination-list{
    list-style: none;
    margin: 0;
    padding: 0;
}

/* promo */
.promo{  
    margin-bottom: 40px;
}

.promo-list{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 26px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.promo-item{
    padding: 22px 16px;
    border-radius: 16px;
    background-position: 0 0;
    background-repeat: no-repeat;
}

.promo-item:nth-child(1){
    background-color: var(--basic-crimson);
    background-image: url(../img/promo-1.jpg);
}

.promo-item:nth-child(2){
    background-color: var(--basic-brown);
    background-image: url(../img/promo-2.jpg);
}

.promo-item h3{
    margin: 0;
    margin-bottom: 16px;
    font-weight: 700;
    font-size: 35px;
    line-height: 41px;
}

.promo-item p{
    margin: 0;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
}

/* hits */
.hits{
    margin-bottom: 40px;
}

.hits-list{
    list-style: none;
}

.hits-title{
    color: var(--basic-white);
    text-align: center;
}

.hits-title h3{
    font-weight: 500;
    font-size: 16px;
}

.hits-price{
    font-weight: 700;
    font-size: 45px;
    line-height: 45px;
}

.hits-measure{
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
}

/* features */
.features{
    margin-bottom: 40px;
    padding: 24px 20px;
    background-color: var(--basic-beige);
    color: var(--basic-gray-dark);
    border-radius: 16px;
}

.features-title{
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
}

.features-list{
    list-style: none;
    margin: 0;
    padding: 0;
}

/* news */
.news{
    padding: 23px 20px;
    background-color: var(--basic-white);
    color: var(--basic-gray-dark);
    border-radius: 16px;
}

.news-title{
    font-weight: 500;
    font-size: 16px;
}

.news-link{
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
}

/* appointment */
.appointment{
    padding: 29px 20px;
    background-color: var(--basic-light);
    color: var(--basic-gray);
    border-radius: 16px;
}

/* contacts */
.contacts{
    color: var(--basic-gray-dark);
}

.contacts-map{
    position: relative;
}

.contacts-map img{
    display: block;
}

.contacts-info{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 27px;
    width: 303px;
    padding: 32px 25px;
    background-color: var(--basic-white);
    border-radius: 16px;
}

.contacts-info p{
    font-size: 14px;
    line-height: 20px;
}

.contacts-address span, .contacts-phone{
    color: var(--basic-gray-dark);
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    text-decoration: none;
}

/* page catalog */
.page-title{
    font-weight: 700;
    font-size: 35px;
    line-height: 41px;
}

/* breadcrumbs */
.breadcrumbs{
    list-style: none;
}

/* catalog list */
.catalog-list{
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.catalog-item a{
    color: var(--basic-white);
    text-align: center;
}

.catalog-item h3{
    font-weight: 500;
    font-size: 16px;
}

.catalog-image img{
    border-radius: 50%;
}

.catalog-item-price{
    font-weight: 700;
    font-size: 45px;
    line-height: 45px;
}

.catalog-item-price span{
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
}

/* catalog pagination */
.catalog-pagination-list{
    list-style: none;
}

.catalog-pagination-item a{
    color: var(--basic-white);
    font-weight: 500;
    line-height: 18px;
}

.catalog-pagination-item a:hover{
    background-color: var(--basic-white-transparent-light);
}

.catalog-pagination-item.current a{
    background-color: var(--basic-white);
    color: var(--basic-gray-dark);
    cursor: default;
}

/* main footer */
.main-footer{
    padding: 18px 0;
}

.main-footer .wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.footer-socials ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.social-button{
    color: var(--basic-white);
}

.social-button:hover .social-button-icon{
    fill-opacity: 1;
    opacity: 1;
}

.social-button:active .social-button-outline{
    stroke-opacity: 0.7;
}

.footer-additional{
    width: 310px;
}

.footer-additional a{
    font-size: 13px;
    line-height: 18px;
}

.footer-additional a:first-of-type{
    font-weight: 700;
}

.footer-copyright{
    max-width: 190px;
    justify-self: end;
    font-size: 12px;
    line-height: 18px;
}

.footer-copyright p{
    margin: 0;
}

/* modal feedback */
.modal-feedback .modal-title{
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
}

